<main class="bg-dark" [ngClass]="{'dark-mode': darkModeService.isDarkMode | async}">

  <div class="parallax-container">
    <div class="parallax-section">
  <div class="cover" id="top">

  <img src="assets/logoblanc.png" alt="" id="logo">
  </div>
  </div>
  </div>

  <div class="title">
    <h1> BIENVENUE AU<span> DOUX BAIL</span></h1>
    <h2>Niché au bord de mer, Rue Barthélémy, <span>Doux Bail</span>.</h2>
    </div> 

  <div class="container" id="container">
    <div class="row">
      <div class="col-sm scroll-animation">
     <img src="../../assets/burger.jpeg" alt="" height="600px" width="600px" id="meal">
      </div>
      <div class="col-sm">
        <h5>Doux Bail</h5>
        <h1> BURGERS </h1>
        <p>Savourez nos burgers savamment préparés, alliant générosité et gourmandise. Des pains moelleux enveloppant des viandes juteuses, des fromages fondants et des garnitures fraîches, le tout accompagné de frites croustillantes. Une expérience de restauration rapide inégalée pour les amateurs de burgers qui recherchent une explosion de saveurs à chaque bouchée.</p>
        <hr>
        <hr>
      </div>
    </div>
  </div>
  <div class="container plats" id="container">
    <div class="row">
      <div class="col-sm text2">
        <h5>Doux Bail</h5>
    <h1>
      SANDWICHS
    </h1>
    <p>Savourez nos délicieux sandwichs baguette, préparés avec soin et des ingrédients de qualité. Que vous aimiez le classique ou les créations audacieuses, nos baguettes croustillantes combleront toutes vos envies. Une explosion de saveurs à chaque bouchée, chez Doux-Bail, la simplicité rime avec délice.</p>
    <hr>
    <hr>
      </div>
      <div class="col-sm scroll-animation1">
        <img src="../../assets/sandwich1.jpeg" alt="" height="600px" width="600px" id="meal">
      </div>
    </div>
  </div>
  <div class="parallax-container" id="parallax-container">
    <div class="parallax-section1">
  <div class="middle">
    <img [src]="imagePath" alt="" width="100%">
    <h1 class="text">DOUX BAIL</h1>
    </div>
    </div>
  </div>
  
  
  <div class="container" id="sectionB">
    <div class="row">
      <div class="col-sm"><h1>COME IN</h1>
      <h5>Doux Bail</h5>
    Restaurant / Snack<br>
   6 Rue Barthélémy<br>
    06150 Cannes<br>
<br>
HEURES D'OUVERTURE:<br>
11h30 à 14h30 et de 18h30 à 23h30<br>
du mardi au samedi <br>
PRISE DES COMMANDES RESTAURANT :<br>
de 11h30 à 14h30 et de 18h30 à 23h30<br>
  </div>
      <div class="col-sm"><p>
        Thedouxbail@gmail.com</p>
      </div>
    </div>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.765158356069!2d6.980822599999999!3d43.54893699999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ce8248a6842b13%3A0x3f0dd19b6162699f!2s6%20Rue%20Barth%C3%A9l%C3%A9my%2C%2006150%20Cannes!5e0!3m2!1sfr!2sfr!4v1691642769138!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</main>
<footer>