main{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(15deg, #000000 0%, #0f1215 99%, #000000 100%);
}
.collapse{
    justify-content: center;
    padding-right: 50px;
}
h5{
    text-align: start;
    color: #e46b16;
    font-family: 'Bungee', cursive;
    font-size: 18px;
}
a{
    margin-left: 50px;
    font-size: 20px;
    padding: 20px;
    color: #c0c0c0;
    font-weight: bold;
}
hr{
    color: #c0c0c0;
    width: 600px;
}
  .scroll-animation {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 2.5s ease, transform 3s ease;
  }
  .scroll-animation.animate {
    opacity: 1;
    transform: translateX(0px);
  }
  .scroll-animation1 {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 2.5s ease, transform 3s ease;
  }
  .scroll-animation1.animate {
    opacity: 1;
    transform: translateX(0px);
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.cover{
    animation: fade-in 2s ease-out;
    img{
    margin-left:25%;
    margin-top:3%;
    width: 50%;
    animation: fade-in 5s ease-in-out; 
    }
    span{
        position: absolute;
        top:440px;
        color: black;
        right: 165px;
        font-size: 550px;
    }
    animation: fade-in 3s ease-out;
   background-repeat: no-repeat;
   height: 100vh;
    background-size: cover;
  //  margin-top: -800px;
    background-image: url('https://cdn.discordapp.com/attachments/406419836785262592/1139072402584776724/58b0fa5c-8f98-47b3-b8c1-ed6b4a2f28a0.png');
}
.middle{
  margin-bottom: 550px;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-size: cover;
}
iframe{
    width: 100%;
    height: 600px;
}
main{
  p{
    text-transform: uppercase;
    line-height: 1.25;
    font-family: 'Oxygen', cursive;
    font-weight: bold;
    letter-spacing: 2px;
  }
  overflow: hidden;
    .title{
        span{
            color: #e46b16;
            text-align: center;
            letter-spacing: 3px;
            font-family: 'Bungee', cursive;
        }
      padding-top: 100px;
      padding-bottom: 100px;
      text-align: center;
        h1{
          //animation: light;
          //color: white;
          font-family: 'Bungee', cursive;
            font-size: 32px;
            padding-bottom: 40px;
          //  animation: lights 5s 750ms linear infinite;
          color: white;
        }
        h2{
          color: white;
          font-size: 28px;
          font-family: 'Bungee', cursive;
        }
    }
    .container-fluid{
        padding-top: 50px;
    p{
        width: 600px;
    }
    .text2{
        padding-left: 180px;
    }
    }
    .col-sm{
        h1{
            text-align: start;
        }
        p{
            text-align: start;
            padding-top: 50px;
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 600;
            color: white;
        }
        padding-bottom: 150px;
    } 
}
.container{
 
  font-family: 'Bungee', cursive;
  color: rgb(216, 216, 216);
  h1{
    font-size: 35px;
    font-family: 'Bungee', cursive;
    color: whitesmoke;
  }
    font-size: 20px;
    img{
      border: 7px solid  #e46b16;
    }
}

.dark-mode{

  .container{
    img{
      border: 7px solid  #5269ff;
    }
  }
}
#sectionB{
  width: 100%;
  padding-bottom: 250px;
}
.come-in {
    text-align: start;
    margin-bottom: 250px;
}
.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    h1{
      color: white;
      padding-top: 10%;
      text-align: center;
      font-size: 9em;
      font-family: 'Bungee';
    }
  }
  .parallax-section {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .parallax-section:nth-child(even) {
    background: transparent; 
  }
  .parallax-section:nth-child(odd) {
    background: transparent;
  }
  .middle{
    padding-top: 660px;
    span{
      color: #e46b16;
        text-align: center;
        letter-spacing: 3px;
        font-family: 'Bungee', cursive;
    }
  }
      .dark-mode{
        span{
          color: #444 !important;
        }
        h1,h2{
          font-family: 'Bungee', cursive;
          color: #5269ff !important;
        }
    .container{
      font-family: 'Bungee', cursive;
      color: rgb(37, 37, 37);
     
    }
    .cover{
  background-image: url('../../assets/cover_test.JPG');
  background-size: cover;
  
      img{
        margin-top: 25%;
        margin-left: 5% !important;
      }
    }}
  @media (max-width: 800px){
    .cover{
      background-size: cover;
      height: 100vh;
      margin: auto;
      margin-top: 50px;
      width: 100%;
      overflow: hidden;
      background-image: url('../../assets/logophone.jpeg');
      img{
        display: none;
      }}
    .dark-mode{
      .container{
        font-family: 'Bungee', cursive;
      }
    }
  }
@media (min-width:800px){
    .cover{
      height:100%;
      background-size: contain !important;
    }
  }

  @media(max-width: 900px) {
    #parallax-container{
      height: 50vh;
      h1{
        padding-top: 50%;
        font-size: 4em;
      }
    }
    .middle{
      padding-top: 950px;
    }
    #meal{
      width: 300px;
      height: 300px;
  }
  }