
  main{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
  }
  h1{
    color: white;
    font-family: 'Bungee';
    font-size: 50px;
    text-transform: uppercase;
    line-height: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  h2{
    font-size: 29px;
    color: white;
    font-family: 'Bungee';
  }
  .c-item {
    height: 480px;
   
  }
  .c-img {
    height: 100%;
    border: 1px solid white;
    margin: auto;
    object-fit: cover;
  //  filter: brightness(0.6);
  }
 #hero-carousel{
  margin-top: 5%;
  margin-bottom: 14%;
 }
 @media(max-width:800px)
 {
  h1{
   padding-bottom: 0;
   margin-top: 75px;
  }
 }