<nav class="navbar navbar-expand-lg bg-dark fixed-top" [ngClass]="{'dark-mode': darkModeService.isDarkMode | async}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/logoblanc.png" alt="" height="30px" width="90px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon navbar-dark"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/header"(click)="goToCurrentPage()" >ACCUEIL</a>
        </li>
        <li class="nav-item">
          <a  #button class="nav-item nav-link" (click)="toggleDarkMode()">DARK</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="#" routerLink="/menu" >MENU</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer [ngClass]="{'dark-mode': darkModeService.isDarkMode | async}"  class="bg-dark text-light text-center py-3">
  <div class="container">
   
    <div class="row">
      <div class="col-sm">
          <ul><li>Contact</li>
            <li>thedb@gmail.com</li>
            <li>0755487754</li>
            <li>0755482554</li>
            </ul>
      </div>
      <div class="col-sm">
        <ul><li>Reseaux sociaux</li>
          <li>insta</li>
          <li>tiktok</li>
          <li>twitter</li>
          </ul>
      </div>
      <div class="col-sm">
        <ul><li>Légal</li>
          <li>Protection des données personnelles</li>
          <li>Conditions général</li>
          <li>Politique de confidentialité</li>
          </ul>
      </div>
      <p>&copy;Tout droit réservé CSI BUSINESS.</p>
    </div>
  </div>
</footer>
