.collapse{
  justify-content: center;
}
ul{
  list-style: none;
}
main{
    background-image: linear-gradient(15deg, #000000 0%, #2e2e2e 99%, #000000 100%);
}
footer{
  color: white;
  svg{
    margin: 5px;
  }
}
a{
  cursor: pointer;

    font-size: 20px;
    color: #c0c0c0;

}
hr{
    color: #c0c0c0;
}


.navbar {
  font-family: 'Bungee', cursive;

ul {
  margin-right: 8%;
}
  }
.dark-mode{
  a{
    color: white;
  }
}